<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author ID Form</title>
</head>
<body>

    <form>
        <label for="authorid">Author ID:</label>
        <input type="text" id="authorid" name="authorid">
        <button type="submit">Submit</button>
    </form>

    <hr>
    
    <div id="api-content">
        <p>Submit an Author ID to retrieve scholar information...</p>
    </div>

    <script src="../js/setAlert.js"></script> 

</body>
</html>